@import "./common/UserBadge.less";
@import "./Admin/ConfirmModal.less";
@import "./Admin/SortableBadges.less";
@import "./Admin/FlarumBadgeCategories.less";

.FlarumBadgesPage {
  padding: 40px;

  .FlarumBadgePageButtons {
    padding: 0 0 20px;

    .Button {
      margin-right: 10px;
    }
  }

  .FlarumBadges-install-dependency {
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: @control-bg;
    max-width: 600px;
  
    &-title {
      font-size: 14px;
      font-weight: bold;
    }

    &-content {
      margin: 5px 0 15px;
    }
  }
}