.BadgeModal {
  .Select {
    display: block;

    select {
      width: 100%;
    }
  }

  .BadgeModalListItem {
    margin-bottom: 10px;
    
    p {
      margin: 0 0 5px;
    }
  }

  .UserHasBadge {
    margin: 10px 0 0;
    color: #d61111;
  }
}